
html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    //overflow: hidden; /* Prevent scrollbars */
 }
